<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Company</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" href="../assets/styles/splash.css">
</head>

<body>
    <div class="alpha-container" style="background-image: url(../assets/office/background.jpg)">
        <h1 class="logo">Manage Company</h1>
        <p class="text">Choose Your Language before the start</p>
        <div class="flags">
            <img src="../assets/flags/french.svg" alt="fr" />
            <img src="../assets/flags/turkish.svg" alt="tr" />
            <img src="../assets/flags/english.svg" alt="en" />
        </div>
    </div>

    <script type="module">
        import { isLoggedIn, save } from '../utils.js'
        document.addEventListener('DOMContentLoaded', _ => {
            document.querySelector('.flags').addEventListener('click', e => {
                const language = e.target.alt
                save('language', language)
                if (isLoggedIn()) {
                    window.location.href = './rooms/office.html'
                } else {
                    window.location.href = './story.html'
                }
            })
        })
    </script>

</body>

</html>